apiVersion: 1

providers:
  - name: 'ircfiber-dashboards'
    orgId: 1
    folder: 'IRC Fiber'
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: true
    options:
      path: /var/lib/grafana/dashboards
      foldersFromFilesStructure: true