/* Avatar backgrounds match nick colors (IRCCloud-style) */
.row.messageRow .letterAvatar.c0,
.stickyAvatar .letterAvatar.c0  { background-color: #deb887; }
.row.messageRow .letterAvatar.c1,
.stickyAvatar .letterAvatar.c1  { background-color: #ffd700; }
.row.messageRow .letterAvatar.c2,
.stickyAvatar .letterAvatar.c2  { background-color: #ff9166; }
.row.messageRow .letterAvatar.c3,
.stickyAvatar .letterAvatar.c3  { background-color: #fa8072; }
.row.messageRow .letterAvatar.c4,
.stickyAvatar .letterAvatar.c4  { background-color: #ff8c00; }
.row.messageRow .letterAvatar.c5,
.stickyAvatar .letterAvatar.c5  { background-color: #00ff00; }
.row.messageRow .letterAvatar.c6,
.stickyAvatar .letterAvatar.c6  { background-color: #ffff00; }
.row.messageRow .letterAvatar.c7,
.stickyAvatar .letterAvatar.c7  { background-color: #bdb76b; }
.row.messageRow .letterAvatar.c8,
.stickyAvatar .letterAvatar.c8  { background-color: #9acd32; }
.row.messageRow .letterAvatar.c9,
.stickyAvatar .letterAvatar.c9  { background-color: #32cd32; }
.row.messageRow .letterAvatar.c10,
.stickyAvatar .letterAvatar.c10 { background-color: #8fbc8f; }
.row.messageRow .letterAvatar.c11,
.stickyAvatar .letterAvatar.c11 { background-color: #3cb371; }
.row.messageRow .letterAvatar.c12,
.stickyAvatar .letterAvatar.c12 { background-color: #66cdaa; }
.row.messageRow .letterAvatar.c13,
.stickyAvatar .letterAvatar.c13 { background-color: #20b2aa; }
.row.messageRow .letterAvatar.c14,
.stickyAvatar .letterAvatar.c14 { background-color: #40e0d0; }
.row.messageRow .letterAvatar.c15,
.stickyAvatar .letterAvatar.c15 { background-color: #00ffff; }
.row.messageRow .letterAvatar.c16,
.stickyAvatar .letterAvatar.c16 { background-color: #00bfff; }
.row.messageRow .letterAvatar.c17,
.stickyAvatar .letterAvatar.c17 { background-color: #87ceeb; }
.row.messageRow .letterAvatar.c18,
.stickyAvatar .letterAvatar.c18 { background-color: #339cff; }
.row.messageRow .letterAvatar.c19,
.stickyAvatar .letterAvatar.c19 { background-color: #6495ed; }
.row.messageRow .letterAvatar.c20,
.stickyAvatar .letterAvatar.c20 { background-color: #b2a9e5; }
.row.messageRow .letterAvatar.c21,
.stickyAvatar .letterAvatar.c21 { background-color: #ff69b4; }
.row.messageRow .letterAvatar.c22,
.stickyAvatar .letterAvatar.c22 { background-color: #da70d6; }
.row.messageRow .letterAvatar.c23,
.stickyAvatar .letterAvatar.c23 { background-color: #ee82ee; }
.row.messageRow .letterAvatar.c24,
.stickyAvatar .letterAvatar.c24 { background-color: #d68fff; }
.row.messageRow .letterAvatar.c25,
.stickyAvatar .letterAvatar.c25 { background-color: #ff00ff; }
.row.messageRow .letterAvatar.c26,
.stickyAvatar .letterAvatar.c26 { background-color: #ffb6c1; }
